.menu {
    flex-basis: 200px;
    margin-right: 20px;

    &__tab{
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;

        &--active{
            background-color: $tab-hover-bg-color;
        }
        
        &:first-child{
            margin-bottom: 10px;
        }
    }
}