$header-bg-color: #30475E;
$header-border-color: #F05454;
$main-bg-color: #E8E8E8;
$input-border-color: #222831;

$tab-color: #E8E8E8;
$tab-bg-color: #30475E;
$tab-active-bg-color: #F05454;

$button-bg-color: #30475E;
$button-color: #E8E8E8;